group_vars/redos.yml
group_vars/*.vault.yml
inventory.ini
host_vars/*.yml
!group_vars/*.example.yml
!host_vars/*.example.yml
!inventory.ini.example
logs/
*.log
*.retry
.ansible/
.DS_Store
.AppleDouble
.LSOverride
*~
.nfs*
.vscode/
.idea/
*.swp
*.swo
