[defaults]
inventory            = inventory.ini
remote_user          = admin
private_key_file     = ~/.ssh/id_ed25519
host_key_checking    = False
interpreter_python   = /usr/bin/python3.11

# Вывод
stdout_callback = default
result_format   = yaml

[privilege_escalation]
become        = true
become_method = sudo
become_user   = root

